.fondo{
  background: rgb(3,28,43);
  background: linear-gradient(75deg, rgba(3,28,43,1) 33%, rgba(7,75,113,1) 67%, rgba(0,115,255,1) 100%);
}

.img-thumbnail{
width: 100px;
height: auto;
box-shadow: 0 0 20px #8d13ff; /* Borde neon de color morado claro 
border: 4px solid #9320ff; / Borde adicional de color morado claro */
}

.contenExaples{
    background-color: orange;
    color: white;
    position: fixed;
    top: -100;
    right: 0;
    height: 100vh;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgb(214, 132, 0); /* Borde neon de color morado claro /
    border: 4px solid orange; / Borde adicional de color morado claro */
    border: black 2px solid;
}
/* position: fixed; */
.btn-circular {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 20px  #007bff; /* Borde neon de color morado claro 
  border: 4px solid #9320ff; / Borde adicional de color morado claro */
}

/* Estilo cuando se pasa el mouse sobre el botón */
.btn-circular:hover {
  background-color: #00ff73;
  box-shadow: 0 0 20px #00ff73; /* Borde neon de color morado claro 
border: 4px solid #9320ff; / Borde adicional de color morado claro */
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  width: 60%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.card-img-top{

  width: 100px;
height: 300px;
}

.carousel {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width:450px ;
  height: 450px; /* Altura del carrusel para ocupar toda la altura de la pantalla */
  background-color: #f0f0f0; /* Cambia el color de fondo según tu preferencia */
  /* Otros estilos de tu elección */
  position: relative;
  top: -550px;
  left: 550px;
}

.inf0{
  color: azure;
}
.btn btn-info{
  box-shadow: 0 0 20px #8d13ff; /* Borde neon de color morado claro 
  border: 4px solid #9320ff; / Borde adicional de color morado claro */
}

.carlitos {
  background-color: #333;
  cursor: pointer;
  width: 100px;
  height: 100px;
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 16px;
  border: 1px solid darkmagenta;
}

.carlitos {
  background-color: #333;
  cursor: pointer;
  width: 100px;
  height: 100px;
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 16px;
  border: 1px solid darkmagenta;
  box-shadow: 0 0 20px #8d13ff; /* Borde neon de color morado claro 
border: 4px solid #9320ff; / Borde adicional de color morado claro */
}

.IMPUTSCAR {
  width: 100px;
  height: 25px;
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px #8d13ff; /* Borde neon de color morado claro 
border: 4px solid #9320ff; / Borde adicional de color morado claro */
}

.conteiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tres columnas con igual ancho */
  gap: 10px; /* Espacio entre elementos */
  width: 500px;
}

.IMPUTSCAR:hover{

background-color: #00ff73;
color: aliceblue;
box-shadow: 0 0 20px #13ff89; /* Borde neon de color morado claro 
border: 4px solid #9320ff; / Borde adicional de color morado claro */
}

.nav-link:hover{
  color:#9320ff;
  box-shadow: 0 0 20px #ff1414; /* Borde neon de color morado claro 
  border: 4px solid #9320ff; / Borde adicional de color morado claro */

}

.dropdown-item:hover{
  color: #00ff73;
  
}

.saved-data {
  background-color: #007bff #009bff #008bff;
  color: orange;
  margin-top: 10px;
  font-size: 14px;
  border: #00ff73 solid 2px
}

.PlaySavedDate1{
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 20px  orangered; /* Borde neon de color morado claro 
  border: 4px solid #9320ff; / Borde adicional de color morado claro */
  position: relative;
  top: -130px;
  left: 520px;
}