.fondo{
  background: rgb(3,28,43);
  background: linear-gradient(75deg, rgba(3,28,43,1) 33%, rgba(7,75,113,1) 67%, rgba(0,115,255,1) 100%);
}

.img-thumbnail{
width: 100px;
height: auto;
box-shadow: 0 0 20px #8d13ff; /* Borde neon de color morado claro 
border: 4px solid #9320ff; / Borde adicional de color morado claro */
}

.contenExaples{
    background-color: orange;
    color: white;
    position: fixed;
    top: -100;
    right: 0;
    height: 100vh;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgb(214, 132, 0); /* Borde neon de color morado claro /
    border: 4px solid orange; / Borde adicional de color morado claro */
    border: black 2px solid;
}

.btn-circular {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

/* Estilo cuando se pasa el mouse sobre el botón */
.btn-circular:hover {
  background-color: #0056b3;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  width: 60%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.card-img-top{

  width: 100px;
height: 300px;
}

.carousel {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width:450px ;
  height: 450px; /* Altura del carrusel para ocupar toda la altura de la pantalla */
  background-color: #f0f0f0; /* Cambia el color de fondo según tu preferencia */
  /* Otros estilos de tu elección */
  position: relative;
  top: -550px;
  left: 550px;
}

.inf0{
  color: azure;
}